DEBUG=True
SECRET_KEY=tu_clave_secreta_super_segura

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_segura
POSTGRES_DB=postgres

# Django DB
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura
DB_HOST=db
DB_PORT=5432

